<body>
    <h1>Diplôme</h1>
    <article id="un" class="bloc">
        <h2 id="titre1">Diplôme</h2>
        <p>Bac S</p><p>BUT</p>
    </article>
    <article id="deux" class="bloc">
        <h2 id="titre2">Langages</h2>
        <p class="lang">HTML</p><p class="lang">CSS</p>
    </article>
    <script src="exo2.js"></script>
</body>
