<head>
    <style>.monStyle1{color: blue; }
    .monStyle2{background-color: yellow;}
    </style>
    </head>
<body>
    <header id="monId" class="monStyle1">
        <p>Texte</p>
    </header>
    <script>
        var liste = document.getElementById("monId").classList.add("monStyle2")
    </script>
</body>