<head>
    <style>
        .monStyle1{color: blue; }
        .monStyle2{background-color: yellow;}
    </style>
    </head>
<body>
    <header id="monId" class="monStyle1 monStyle2">
        <p>Texte à remplacer</p>
        <p>texte 2 à remplacer</p>
    </header>
    <script>
        // var liste = document.getElementsByTagName("p")[0].classList.add("monStyle1");
        // var liste = document.getElementsByTagName("p")[1].classList.add("monStyle2");
        var tabClass = document.getElementById("monId").classList;
        document.getElementsByTagName("p")[0].textContent = tabClass[0] ;
        document.getElementsByTagName("p")[1].textContent = tabClass[1] ;

        
        
    </script>
</body>