<head>
    <style>
        .monStyle1 {color: blue; }
        .monStyle2{color: yellow; }
        .monStyle3 {font-weight: bold; }
    </style>
</head>
<body>
    <header class="monStyle2monStyle3">
        <p>Texte en gras</p>
    </header>
    <script>
        var elem = document.getElementsByTagName("p");
        
    </script>
</body>